section.page-play
    p
        a.btn.btn-primary(href="/") < Back to Start

    span.alert(data-hook="message")
    div.hold.clearfix.col-md-6
        #gameField.gameField.pull-left
            each row, yPos in gameField
                .gameRow.clearfix
                    each field, xPos in row
                        .gameCell.is-empty(data-ypos=yPos, data-xpos=xPos)
        .stats.pull-left
            ul
                li.relative
                    span(class="absolute mk sign-#{player0.mark}")
                    span.player-name=player0.name
                li.relative
                    span(class="absolute mk sign-#{player1.mark}")
                    span.player-name=player1.name
                    
            ul.score
                li
                    span.inline-block #{player0.name}'s wins:
                    span.inline-block(data-hook="score-player0")= player0.score
                li
                    span.inline-block Draws
                    span.inline-block(data-hook="draw-count")= drawCount
                li
                    span.inline-block #{player1.name}'s wins:
                    span.inline-block(data-hook="score-player1")= player1.score
                
            p.text-center
                button#newGame.btn.btn-primary New Game
                    


    